{
	order esbuild first
	debug
	admin off
}

http://localhost:8090 {
  file_server  {
    root example/public
  }

  esbuild {
    source ./example/src/index.js
    source ./example/src/index.css global
    live_reload
    scss
    env
    loader .png dataurl
    loader .svg file
    loader .json json
  }
}